[Desktop Entry]
Encoding=UTF-8
Name=Blocknetdx
Comment=Blocknetdx P2P Cryptocurrency
Comment[fr]=Blocknetdx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Blocknetdx, eşten eşe kriptografik sanal para birimi
Exec=blocknetdx-qt %u
Terminal=false
Type=Application
Icon=blocknetdx128
MimeType=x-scheme-handler/blocknetdx;
Categories=Office;Finance;
