Source: blocknetdx
Section: utils
Priority: optional
Maintainer: Jonas Smedegaard <dr@jones.dk> ***TODO***
Uploaders: Micah Anderson <micah@debian.org> ***TODO***
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev,
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler
Standards-Version: 3.9.2
Homepage: https://www.blocknet.co
Vcs-Git: git://github.com/BlocknetDX/blocknet.git
Vcs-Browser: https://github.com/BlocknetDX/blocknet

Package: blocknetdxd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Blocknet is a 2nd layer blockchain interoperability protocol that enables 
 communication, interaction, and exchange between different blockchains in 
 a permissionless and trustless manner. This implemented through the use of 
 the TCP/IP networking layer for communication, P2P atomic swaps using BIP65 
 for exchange, and a DHT overlay network (Service Nodes) to host the full 
 nodes of compatible blockchains, host microservices, audit interactions, and 
 perform anti-spam and anti-DOS measures for the network. 
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides the daemon, blocknetdxd, and the CLI tool
 blocknetdx-cli to interact with the daemon.

Package: blocknetdx-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Blocknet is a 2nd layer blockchain interoperability protocol that enables 
 communication, interaction, and exchange between different blockchains in 
 a permissionless and trustless manner. This implemented through the use of 
 the TCP/IP networking layer for communication, P2P atomic swaps using BIP65 
 for exchange, and a DHT overlay network (Service Nodes) to host the full 
 nodes of compatible blockchains, host microservices, audit interactions, and 
 perform anti-spam and anti-DOS measures for the network. 
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides Blocknet, a GUI for Blocknet based on Qt.
