src/*.exe
src/xcoin
src/xcoind
src/test_xcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.xcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
xcoin-qt
Xcoin-Qt.app

# Unit-tests
Makefile.test
xcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
