src/*.exe
src/darkcoin
src/darkcoind
src/test_darkcoin
src/darksend.py
src/darksend_refill.py
src/robo.py
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.darkcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
darkcoin-qt
darkcoin-Qt.app

# Unit-tests
Makefile.test
darkcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
src/sendmonies.sh
