[Unit]
Description=Blocknet's distributed currency daemon
After=network.target

[Service]
User=blocknetdx
Group=blocknetdx

Type=forking
PIDFile=/var/lib/blocknetdxd/blocknetdxd.pid

ExecStart=/usr/bin/blocknetdxd -daemon -pid=/var/lib/blocknetdxd/blocknetdxd.pid \
          -conf=/etc/blocknetdx/blocknetdx.conf -datadir=/var/lib/blocknetdxd

ExecStop=-/usr/bin/blocknetdx-cli -conf=/etc/blocknetdx/blocknetdx.conf \
         -datadir=/var/lib/blocknetdxd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
